<div id="common_locales">
	<h3 id="common_locales_title">Locales</h3>
	<ul id="common_locales_list">
	[% FOREACH loc = [ 'North', 'South', 'East', 'West', 'Central' ] %]
		<li class="common_locale"><a class="common_locale_link" href="[% catloc_link %][% loc %]">[% loc %]</a></li>
	[% END %]
	</ul>
</div>
