[% INCLUDE header.tt %]
<h1>Incorrect Password</h1>
<p>
Sorry, that was not the correct password. Please <a href="[%
cgi_url %]?id=[% name %];action=delete">try again</a>.
</p>
[% INCLUDE footer.tt %]