[% INCLUDE header.tt page_title = "Incorrect password for page deletion - $site_name" %]
[% INCLUDE banner.tt %]
<div id="content">
[% INCLUDE navbar.tt %]
<h1>Incorrect Password</h1>
<p>
Sorry, that was not the correct password. Please <a href="[%
cgi_url %]?id=[% node_param %];action=delete">try again</a>.
</p>
[% INCLUDE footer.tt %]