[% IF categories.size > 0 %]
  <hr />
  <small><b>Categories:</b>
  [% FOREACH category = categories %]
    <a href="[% category.url %]">[% category.name %]</a> /
  [% END %]
  </small>
[% END %]

[% IF locales.size > 0 %]
  <hr />
  <small><b>Locale:</b>
  [% FOREACH locale = locales %]
    <a href="[% locale.url %]">[% locale.name %]</a> /
  [% END %]
  </small>
[% END %]
