<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  [% IF (node_name == 'category index' || node_name == 'locale index') %]
  <title>Index of "[% criterion.name %]" - [% site_name %]</title>
  [% ELSE %]
  <title>[% node_name %] - [% site_name %]</title>
  [% END %]
  [% IF contact_email %]
    <link rev="made" href="mailto:[% contact_email %]">
  [% END %]
  [% IF description %]
    <meta name="description" content="[% description %]">
  [% END %]
  [% IF keywords %]
    <meta name="keywords" content="[% keywords %]">
  [% END %]
  [% IF stylesheet %]
    <link rel="stylesheet" href="[% stylesheet %]" type="text/css">
  [% END %]
  [% IF latitude AND longitude %]
    <meta name="ICBM" content="[% latitude %], [% longitude %]">
    <meta name="DC.title" content="[% site_name %]">
  [% END %]
  [% IF (node_name == 'RecentChanges') %]
    <link rel="alternate" type="application/rss+xml" title="RSS feed for this page" href="[% full_cgi_url %]?action=rss">
  [% END %]
</head>

<body>
[% INCLUDE navbar.tt %]
