<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="[% language %]">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  [% IF page_title %]
    <title>[% page_title %]</title>
  [% ELSE %]
    <title>[% node_name %] - [% site_name %]</title>
  [% END %]
  [% IF contact_email %]
    <link rev="made" href="mailto:[% contact_email %]">
  [% END %]
  [% IF description %]
    <meta name="description" content="[% description %]">
  [% END %]
  [% IF keywords %]
    <meta name="keywords" content="[% keywords %]">
  [% END %]
  [% IF stylesheet %]
    <link rel="stylesheet" href="[% stylesheet %]" type="text/css" title="Stylesheet for [% site_name %]">
  [% END %]
  [% IF latitude AND longitude %]
    <meta name="ICBM" content="[% latitude %], [% longitude %]">
    <meta name="DC.title" content="[% site_name %]">
  [% END %]
  [% IF (node_name == 'RecentChanges') %]
    <link rel="alternate" type="application/rss+xml" title="RSS feed for this page" href="[% full_cgi_url %]?action=rss">
  [% END %]
  [% IF rss_link %]
    <link rel="alternate" type="application/rss+xml" title="RSS feed for this page" href="[% rss_link %]">
  [% END %]
  [% IF deter_robots %]
    <meta robots="noindex" />
  [% END %]
</head>
<body>
