<fieldset>
<legend>OpenGuides information</legend>
<table>
  <tr>
    <td>
      <strong>Your username (<a href="preferences.cgi">set</a>):</strong>
    </td>
    <td>
       <input type="text" size="30" name="username" value="[% username %]">
    </td>
  </tr>
  <tr>
    <td><strong>Comment about your changes:</strong></td>
    <td><input type="text" size="30" name="comment" value="[% comment %]"></td>
  </tr>
</table>
</fieldset>
