<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title>[% site_name %] - Set username/preferences</title>
  [% IF stylesheet %]
    <link rel="stylesheet" href="[% stylesheet %]" type="text/css">
  [% END %]
</head>

<body>
<div id="content">

[% IF show_form %]

  <form action="preferences.cgi" method="post">
    <h1>Username</h1>
    <p>How you wish to be identified in Recent Changes:</p>
    <input type="text" size="20" name="username" value="[% username %]" />

    <h1>Preferences</h1>

    <p>Check this to put the preview above the edit area when previewing
    a page edit:</p>
    [% IF preview_above_edit_box %]
      <input type="checkbox" name="preview_above_edit_box" value="1" checked />
    [% ELSE %]
      <input type="checkbox" name="preview_above_edit_box" value="1" />
    [% END %]
    <br />

    <p>Check this to include &#8220;Look for nearby geocaches&#8221; link in navbar:</p>
    [% IF include_geocache_link %]
      <input type="checkbox" name="include_geocache_link" value="1" checked />
    [% ELSE %]
      <input type="checkbox" name="include_geocache_link" value="1" />
    [% END %]
    <br />

    <input type="submit" value="Set it" class="form_button" />
    <input type="hidden" name="action" value="set_preferences">
  </form>

[% ELSE %]

  <h1>Username/preferences saved</h1>

  <p>Username set to &#8220;[% username %]&#8221;</p>

  <p>Preview area shown
    [% IF preview_above_edit_box %]
      above
    [% ELSE %]
      below
    [% END %]
  edit box.</p>

  <p>&#8220;Look for nearby geocaches&#8221; link
    [% UNLESS include_geocache_link %] not [% END %]
  included in navbar</p>

  <p><a href="[% full_cgi_url %]">Return to the wiki</a></p>

[% END %]

</div>
</body>
</html>
