[% INCLUDE header.tt %]
<div id="content">
<h1 align=center>[% site_name %] - User Stats for [% username %]</h1>

[% content %]

<h2>Last five nodes edited by <a href="[% full_cgi_url %]?[% username_param %]">[% username %]</a></h2>

<ul>
[% FOREACH node = last_five_nodes %]
  <li>[% node.last_modified %]
      <a href="[% node.url %]">[% node.name %]</a>
      [% IF node.comment %]
        <b>[[% node.comment %]]</b>
      [% END %]
  </li>
[% END %]
</ul>

[% INCLUDE footer.tt %]
